
/* About.css */

.about-container {
  padding: 50px 20px;
}
.about-container {
  height: 100vh; /* Full viewport height */
  /* background-image: url('/image/kk.jpg'); Background image */
  background-size: contain; /* Ensures the image covers the entire page */
  background-position: center; /* Center the image */
  background-repeat: repeat; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}
.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.about-image {
  flex: 1 1 250px;
  text-align: center;
}

.about-image img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%; /* Makes the image circular */
  border: 5px solid #fff; /* Optional: Add a border around the image */
}

.about-text {
  flex: 2;
  padding-left: 30px;
}

.about-text h1 {
  font-size: 2.5rem;
  color: #fff;
}

.about-text p {
  font-size: 1.1rem;
  color: #fff;
  line-height: 1.6;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
    text-align: center;
  }

  .about-text {
    padding-left: 0;
    padding-top: 20px;
  }
}
