
/* About.css */

.about-container {
  padding: 50px 20px;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.about-image {
  flex: 1 1 250px;
  text-align: center;
}

.about-image img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%; /* Makes the image circular */
  border: 5px solid var(--primary-color-dark); /* Optional: Add a border around the image */
}

.about-text {
  flex: 2;
  padding-left: 30px;
}

.about-text h1 {
  font-size: 2.5rem;
  color: #333;
}

.about-text p {
  font-size: 1.1rem;
  color: #555;
  line-height: 1.6;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
    text-align: center;
  }

  .about-text {
    padding-left: 0;
    padding-top: 20px;
  }
}
