/* src/components/Contact.css */
.contact-container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    color:#fff;
  }
  
  .contact-section {
    margin-bottom: 40px;
    color:#fff;
  }
  
  .contact-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .contact-form button {
    background-color: #fff ; /* Matches the theme color */
    color: var(--primary-color-dark);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .contact-form button:hover {
    background-color: var(--primary-color-dark); /* Lighter shade for hover */
  }
  
  .whatsapp-link {
    display: inline-block;
    background-color: #fff;
    color: var(--primary-color-dark);
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
  }
  
  .whatsapp-link:hover {
    background-color: #25d366;
  }
  