/* Home.css */


.hero-page {
    height: 100vh; /* Full viewport height */
    /* background-image: url('/image/kk.jpg'); Background image */
    background-size: cover; /* Ensures the image covers the entire page */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
  }
  
  /* White container for content */
  .content-container {
    background-color: white; 
    padding: 40px;
    border-radius: 10px; /* Optional: Rounded corners */
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1); /* Optional: Adds a shadow */
    text-align: center; /* Center align text */
    max-width: 600px; /* Limits the width of the container */
    margin: 0 20px; }/* Adds some margin to the sides */
  
  
  /* Heading and paragraph styling */
  h1 {
    font-size: 2.5rem;
    color: #333;
  }
  
  p {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 20px;
  }
  
  /* Call-to-action button */
  .cta-button {
    background-color: var(--primary-color-dark);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
  }
  
  .cta-button:hover {
    background-color: #d1401b;
  }

  .home-logo {
    height: 80px; /* Adjust height as needed */
    width: auto;
  } 

  /* SinglePage.css */

/* Basic styles for sections */
/* 
.section {
  padding: 100px 0;
  min-height: 100vh;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Navbar styling 
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 20px 0;
  z-index: 1000;
}

.navbar-links a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}

.cta-button {
  background-color: #ff7f50;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

/* Smooth scrolling 
html {
  scroll-behavior: smooth;
}

/* Section-specific styles 
.home {
  /* background-image: url('/image/kk.jpg'); 
  background-size: cover;
  color: white;
}

.portfolio, .about, .services, .contact {
  background-color: white;
}

/* Optional adjustments for portfolio 
.portfolio-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.portfolio-gallery img {
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
} */
