/* Home.css */

.hero-page {
    height: 100vh; /* Full viewport height */
    /* background-image: url('/image/kk.jpg'); Background image */
    background-size: cover; /* Ensures the image covers the entire page */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
  }
  
  /* White container for content */
  .content-container {
    /* background-color: white;  */
    padding: 40px;
    border-radius: 10px; /* Optional: Rounded corners */
    /* box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1); Optional: Adds a shadow */
    text-align: center; /* Center align text */
    max-width: 600px; /* Limits the width of the container */
    margin: 0 20px; }/* Adds some margin to the sides */
  
  
  /* Heading and paragraph styling */
  .content-container h1 {
    font-size: 2.5rem;
    color: #333;
  }
  
 .content-container p {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 20px;
    padding:9px;
  }
  
  /* Call-to-action button */
  .cta-button {
    background-color: var(--primary-color-dark);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
  }
  
  .cta-button:hover {
    background-color: #d1401b;
  }

  .home-logo {
    height: 90px; /* Adjust height as needed */
    width: auto;
  } 
  /* src/components/Home.css */

.admin-welcome {
  color: var(--primary-color-dark);
  font-size: 32px;
  margin-bottom: 9px;
  margin-top: 20px;
  font-weight: bold;
}


  /* Responsive adjustments */
@media (max-width: 768px) {
  .hero-page {
    background-size: cover; /* On smaller screens, make sure the entire image is visible */
    background-position: center;
    background-repeat: no-repeat;
  }

  .content-container {
    padding: 15px;
  }

  .cta-button {
    padding: 8px 16px;
    font-size: 14px;
  }
}
