
/* General Navbar Styling */
.navbar {
  display: flex;
  justify-content: space-between; /* Space between logo and links */
  align-items: center; /* Align logo and links vertically in the center */
  padding: 1px 20px !important;
  background-color: white; /* Dark green */
  background-size: 29rem; /* Adjust as needed */
  background-position: center;
  background-repeat: repeat;
  position: fixed !important;
  width: 100%; /* Full width of the page */
  z-index: 2;
  border-bottom: solid var(--primary-color-dark);
  /* height:57px; */
}

/* Logo Styling */
.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-logo {
  height: 44px; /* Adjust height as needed */
  width: auto;
  margin-right: 20px; /* Space between logo and links */
  position:relative;
  /* top:-10px; */
}

/* Navbar Links Styling */
.navbar-links {
  display: flex;
  justify-content: flex-end; /* Align links to the right */
  align-items: center;
  list-style: none;
  gap: 15px; /* Space between navbar links */
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: var(--secondary-color);
  flex-grow: 1; /* Take up remaining space after logo */
  position:relative;
  /* top:-10px; */
}

/* Individual List Item Styling */
.navbar-links li {
  flex-shrink: 0; /* Prevent shrinking of items */
  margin: 0 10px; /* Space between items */
  min-width: 80px; /* Ensure links don't shrink too much */
}

/* Navbar Link Styling */
.navbar-links a {
  text-decoration: none;
  color: var(--primary-color-dark);
  font-size: 18px;
}

/* Active/Highlight Styling for the Links */
.navbar-links a:hover,
.navbar-links a.active {
  color: var(--primary-color-dark);
  border-bottom: 2px solid var(--primary-color-dark);
}

/* Responsive Styles for smaller screens */
@media (max-width: 992px) {
  .navbar {
    padding: 10px;
  }

  .navbar-links {
    flex-grow: 1;
    justify-content: space-between; /* Spread out links on smaller screens */
  }

  .navbar-links a {
    font-size: 16px;
  }
}

/* Further adjustments for small screens */
@media (max-width: 768px) {
  .navbar-links {
    flex-wrap: wrap; /* Wrap into multiple lines on very small screens */
    justify-content: center; /* Center the links on smaller screens */
  }

  .navbar-links a {
    font-size: 14px; /* Slightly smaller text for mobile */
  }

  .navbar-logo {
    margin-bottom: 10px; /* Add margin below logo when it wraps */
  }
}
