
.navbar {
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px !important;
  background-color: white; /*Dark green */
  background-size: 29rem; /* Ensures the image covers the entire navbar */
  background-position: top; /* Centers the background image */
  background-repeat: repeat; /* Prevents repeating the image */
  position:fixed !important;
  width:-webkit-fill-available;
  z-index:1;
  border-bottom: solid var(--primary-color-dark);
}

.navbar-brand {
  display: flex;
  align-items:center;
}

.navbar-logo {
  height: 50px; /* Adjust height as needed */
  width: auto;
}

.navbar-links {
  list-style: none;
  display: flex;
  flex-wrap:wrap;
  list-style:none;
  flex-grow:1;
  gap: 0px;
  margin: 0;
  padding: 0;
  font-weight:bold;
  color: var(--secondary-color);
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.navbar-links li {
  display: inline;
  margin: 5px 10px;
}

.navbar-links a {
  text-decoration: none;
  color: var(--primary-color-dark);
  font-size: 18px;
}

/* .navbar-links a:hover {
  color: #f4511e; 
} */
.navbar-links a:hover,
.navbar-links a.active {
  color: var(--primary-color-dark); /* Highlight color for active section */
  border-bottom: 2px solid var(--primary-color-dark); /* Optional: underline for active tab */
}
/* Responsive Wrapping Behavior */
.navbar-links {
  justify-content: center;
}

.navbar-links li {
  min-width: 96px; /* Ensure links don't shrink too much */
}

/* Responsive Styles */
@media (max-width: 768px) {
  .navbar {
    padding: 10px;
  }

  .navbar-links {
    justify-content: space-around;
  }

  .navbar-links li {
    flex: 1 1 auto; /* Allow links to flex properly */
    text-align: center;
  }

  .navbar-links a {
    font-size: 14px; /* Slightly smaller text on smaller screens */
  }
}